<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


<title>{% block title %}Travio{% endblock %}</title>

<!-- Fav Icon -->
<link rel="icon" href="{{ header.favicon.url }}" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="{% static 'assets/css/font-awesome-all.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/flaticon.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/jquery.fancybox.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/animate.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/nice-select.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/jquery-ui.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/color.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">

</head>


<!-- page wrapper -->
<body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
<style>
    .alert .btn-close {
        position: absolute;
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        z-index: 1050;
        top: 10px; /* Adjust as needed */
        right: 10px; /* Adjust as needed */
    }
    .alert {
        font-family: Arial, sans-serif; /* Sans-serif font family */
        font-size: 15px;
        z-index: 1000;
        position: relative;
        padding: .75rem 3rem;
        margin-bottom: 1rem; /* Reduced margin */
        border: 1px solid transparent;
        border-radius: .25rem;
    }
    .alert-success {
        background-color: #4cda6f; /* Green background */
        color: #ffffff; /* White text color */
    }
    .alert-warning {
        background-color: #e11111; /* Red background for error */
        color: #ffffff; /* White text color */
    }

    #popupMessages {
        position: fixed; /* Fixed position */
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Offset to center */
        z-index: 1000; /* Ensure it's above other content */
        pointer-events: auto; /* Allow interaction with the alert */
    }

    /* Remove hover shaking effect */
    #popupMessages:hover {
        transform: translate(-50%, -50%); /* Keep position unchanged */
    }

    .mobile-menu-mis{
        width: 3.5rem;
        height: 2rem !important;
        border-radius: 1rem;
        background: #ff7c5b;
        border: 2px solid #ffffff;
        color: #fff;
        translate: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @media only screen and (max-width: 1200px) {
        .comp-search-mis{
            display:none;
        }
    }
</style>


{% if messages %}
    <div id="popupMessages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>

    <script>
        // Delayed removal function
        function removePopup() {
            setTimeout(function() {
                var popupMessages = document.getElementById('popupMessages');
                if (popupMessages) {
                    popupMessages.innerHTML = '';
                }
            }, 3000); // 3000 milliseconds = 3 seconds
        }

        // Show popup on page load
        document.addEventListener('DOMContentLoaded', function() {
            var popupMessages = document.getElementById('popupMessages');
            if (popupMessages) {
                // Start removal countdown
                removePopup();
            }
        });
    </script>

    <!-- Optional: Include Animate.css for animation effects -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">
{% endif %}



    <div class="boxed_wrapper">


        <!-- preloader -->
<!--        <div class="loader-wrap">-->
<!--            <div class="preloader">-->
<!--                <div class="preloader-close">Preloader Close</div>-->
<!--                <div id="handle-preloader" class="handle-preloader">-->
<!--                    <div class="animation-preloader">-->
<!--                        <div class="spinner"></div>-->
<!--                        <div class="txt-loading">-->
<!--                            <span data-text-preloader="t" class="letters-loading">-->
<!--                                t-->
<!--                            </span>-->
<!--                            <span data-text-preloader="r" class="letters-loading">-->
<!--                                r-->
<!--                            </span>-->
<!--                            <span data-text-preloader="a" class="letters-loading">-->
<!--                                a-->
<!--                            </span>-->
<!--                            <span data-text-preloader="v" class="letters-loading">-->
<!--                                v-->
<!--                            </span>-->
<!--                            <span data-text-preloader="i" class="letters-loading">-->
<!--                                i-->
<!--                            </span>-->
<!--                            <span data-text-preloader="o" class="letters-loading">-->
<!--                                o-->
<!--                            </span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- preloader end -->


        <!-- main header -->
        <header class="main-header style-one">
            <!-- header-lower -->
            <div class="header-lower">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="logo-box">
                            <figure class="logo"><a href="/"><img src="{{ header.logo.url }}" alt="site_logo" style="height: 30px; width: 160px;"></a></figure>
                        </div>
                        <div class="menu-area clearfix">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler">
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                            </div>
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    {% block menu %}
                                    <ul class="navigation clearfix">
                                        <li>
                                            <a href="/" class="nav-link">Home</a>
                                        </li>
                                        <li>
                                            <a href="/destinations/" class="nav-link">Destinations</a>
                                        </li>
                                        <li>
                                            <a href="/tours/" class="nav-link">Tours</a>
                                        </li>
                                        <li>
                                            <a href="/contact/" class="nav-link">Contact</a>
                                        </li>
                                        <li>
                                            <a href="/gallery/" class="nav-link">Gallery</a>
                                        </li>
                                    </ul>
                                    {% endblock %}

                                </div>
                            </nav>
                        </div>
                        <ul class="menu-right-content clearfix comp-search-mis">
                            <li class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-search"></i></button>
                                    <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu3">
                                        <div class="form-container">
                                             <form method="GET" action="{% url 'tours' %}">
                                                <div class="form-group">
                                                    <input type="search" name="search-field" value="" placeholder="Search...." required="">
                                                    <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="user-link">
                                <a href="{% url 'registration' %}"><i class="icon-Profile"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--sticky Header-->
            <div class="sticky-header">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="logo-box">
                            <figure class="logo"><a href="/"><img src="{{ header.logo.url }}" alt="header_logo" style="height: 30px; width: 160px;"></a></figure>
                        </div>
                        <div class="menu-area">
                            <nav class="main-menu clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                        </div>
                        <ul class="menu-right-content clearfix">
                            <li class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-search"></i></button>
                                    <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu4">
                                        <div class="form-container">
                                            <form method="GET" action="{% url 'tours' %}">
                                                <div class="form-group">
                                                    <input type="search" name="search-field" value="" placeholder="Search...." required="">
                                                    <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="user-link">
                                <a href="{% url 'registration' %}"><i class="icon-Profile"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- main-header end -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>

            <nav class="menu-box">
                <div class="nav-logo"><a href="/"><img src="{{ header.logo.url }}" alt="header_logo" title="header-logo" style="height: 30px; width: 160px;"></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                <ul class="menu-right-content clearfix" style="
                        display: flex;
                        gap: 13px;
                        justify-content: space-evenly;
                        padding: 10px;
                    ">
                            <li class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn mobile-menu-mis" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-search"></i></button>
                                    <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu3"  style="padding:0; margin:0;">
                                        <div class="form-container">
                                             <form method="GET" action="{% url 'tours' %}" style="padding:0; margin:0;">
                                                <div class="form-group" style="
                                                        display: flex;
                                                        gap: 10px;
                                                        justify-content: space-evenly;
                                                        padding: 15px;
                                                        margin: 0;
                                                    ">
                                                    <input type="search" name="search-field" value="" placeholder="Search...." required="" style="border: 1px solid #ff7c5b2b;padding: 5px;">
                                                    <button type="submit" class="search-btn" style="
                                                        width: 3rem;
                                                        height: 3rem;
                                                        border: 1px solid #ffe9e3;
                                                        background: #ff7c5b;
                                                        border-radius: 30px;
                                                        color: #ffe9e3;
                                                    "><span class="fas fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="user-link">
                                <a href="{% url 'registration' %}"><i class="icon-Profile mobile-menu-mis"></i></a>
                            </li>
                        </ul>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>{{ contact_us.address }}</li>
                        <li><a href="tel:{{ contact_us.mobile }}">{{ contact_us.mobile }}</a></li>
                        <li><a href="mailto:{{ contact_us.email }}">{{ contact_us.email }}</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="{{ footer_content.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="{{ footer_content.facebook }}"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="{{ footer_content.twitter }}"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="{{ footer_content.instagram }}"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="{{ footer_content.youtube }}"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>

            </nav>
        </div><!-- End Mobile Menu -->



{% block body %}Base
{% endblock %}

        <!-- main-footer -->
        <footer class="main-footer bg-color-2">
            <div class="footer-top">
                <div class="vector-bg" style="background-image: url({% static 'assets/images/shape/shape-11.png' %});"></div>
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget logo-widget">
                                <figure class="footer-logo">
                                    <a href="/">
                                        <img src="{{ footer_content.logo.url }}" alt="footer_logo" style="height: 30px; width: 160px;">
                                    </a>
                                </figure>

                                <div class="text">
                                    <p>{{ footer_content.info_text }}</p>
                                </div>
                                <ul class="social-links clearfix">
                                    <li><a href="{{ footer_content.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="{{ footer_content.twitter }}"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="{{ footer_content.instagram }}"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="{{ footer_content.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="{{ footer_content.youtube }}"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Services</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="#aboutus">About Us</a></li>
<!--                                        <li><a href="index.html">Our Services</a></li>-->
                                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget gallery-widget">
                                <div class="widget-title">
                                    <h3>Gallery</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="image-list clearfix">
                                    {% for i in footer_gallery %}
                                        <li><figure class="image-box"><a href="{% url 'gallery' %}"><img src="{{ i.image.url }}" alt="footer_images"></a></figure></li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h3>Contacts</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="info-list clearfix">
                                        <li><i class="fas fa-map-marker-alt"></i>{{ footer_content.address }}</li>
                                        <li><i class="fas fa-microphone"></i><a href="tel:{{ footer_content.phone }}">{{ footer_content.phone }}</a></li>
                                        <li><i class="fas fa-envelope"></i><a href="mailto:{{ footer_content.email }}">{{ footer_content.email }}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="bottom-inner clearfix">
                        <div class="copyright pull-left">
                            <p><a href="index.html">{{ footer_content.site_name }}</a> &copy; {{ footer_content.copyright_year }} All Right Reserved</p>
                        </div>
                        <ul class="footer-nav pull-right">
                            <li><a href="/">Terms of Service</a></li>
                            <li><a href="/">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- main-footer end -->



        <!--Scroll to top-->
        <button class="scroll-top scroll-to-target" data-target="html">
            <span class="fal fa-angle-up"></span>
        </button>
    </div>


    <!-- jequery plugins -->
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/wow.js' %}"></script>
    <script src="{% static 'assets/js/validation.js' %}"></script>
    <script src="{% static 'assets/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'assets/js/appear.js' %}"></script>
    <script src="{% static 'assets/js/scrollbar.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui.js' %}"></script>

    <!-- main-js -->
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script>
        // Get the current URL path
        const currentPath = window.location.pathname;

        // Get all navigation links
        const navLinks = document.querySelectorAll('.nav-link');

        // Loop through links to match current URL
        navLinks.forEach(link => {
            // Check if the link's href matches the current path
            if (link.getAttribute('href') === currentPath) {
                link.parentElement.classList.add('current');
            }
        });
    </script>
</body><!-- End of .page_wrapper -->
</html>
