{% extends 'base.html' %}
{% load static %}
{% block title %} Destination_details {% endblock %}
{% block body %}

        <!-- Page Title -->
        <section class="page-title centred" style="background-image: url('{{ destination_details.package.bannerimage.url }}');">
            <div class="auto-container">
                <div class="content-box">
                    <h1>Destination Details</h1>
                    <p>Discover your next great adventure</p>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- destination-details -->
        <section class="destination-details">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="destination-details-content">
                            <div class="inner-box">
                                <div class="text">
                                    <h2>{{ destination_details.package.location }}</h2>
                                    <p>{{ destination_details.description|safe }}</p>
                                </div>
                            </div>
                            <div class="country-details">
                                <div class="text">
                                    <h3>Country Details</h3>
                                    <p>{{ destination_details.country_details|safe }}</p>
                                </div>
                                <ul class="details-list clearfix">
                                    <li><i class="fas fa-map-marker-alt"></i><span>Address:</span>{{ destination_details.address }}</li>
                                    <li><i class="far fa-id-card"></i><span>Visa Requirements:</span>{{ destination_details.visa_requirements}}</li>
                                    <li><i class="fas fa-globe"></i><span>Country:</span>{{ destination_details.package.destination}}</li>
                                    <li><i class="far fa-comments"></i><span>Languages spoken:</span>{{ destination_details.languages_spoken }}</li>
                                    <li><i class="fas fa-dollar-sign"></i><span>Currency Used:</span>{{ destination_details.currency_used }}</li>
                                    <li><i class="fas fa-phone"></i><span>Suport Phone:</span><a href="tel:{{ destination_details.support_phone }}">{{ destination_details.support_phone }}</a></li>
                                    <li><i class="far fa-envelope-open"></i><span>Emergency Email:</span><a href="mailto:{{ destination_details.emergency_email }}">{{ destination_details.emergency_email }}</a></li>
                                    <li><i class="far fa-map"></i><span>Distance:</span>{{ destination_details.distance }}m</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                        <div class="default-sidebar destination-sidebar ml-20">
                            <div class="sidebar-widget downloads-widget">
                                <div class="widget-title">
                                    <h3>Downloads</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="download-links clearfix">
                                        <li>
                                            {% if destination_details.package.travel_direction %}
                                                <a href="{{ destination_details.package.travel_direction.url }}" download>Travel Direction<i class="fas fa-download"></i></a>
                                            {% else %}
                                                <span>Travel Direction (Not Available)</span>
                                            {% endif %}
                                        </li>
                                        <li>
                                            {% if destination_details.package.documentations %}
                                                <a href="{{ destination_details.package.documentations.url }}" download>Documentation<i class="fas fa-download"></i></a>
                                            {% else %}
                                                <span>Documentation (Not Available)</span>
                                            {% endif %}
                                        </li>
                                        <li>
                                            {% if destination_details.package.logo_assets %}
                                                <a href="{{ destination_details.package.logo_assets.url }}" download>Logo & Assets<i class="fas fa-download"></i></a>
                                            {% else %}
                                                <span>Logo & Assets (Not Available)</span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
<!--                            <div class="sidebar-widget post-widget">-->
<!--                                <div class="widget-title">-->
<!--                                    <h3>Latest News</h3>-->
<!--                                </div>-->
<!--                                <div class="post-inner">-->
<!--                                    <div class="post">-->
<!--                                        <figure class="post-thumb"><a href="blog-details.html"><img src="assets/images/news/post-1.png" alt=""></a></figure>-->
<!--                                        <span class="post-date">April 18, 2020</span>-->
<!--                                        <h4><a href="blog-details.html">Consequntur eos magni dolore.</a></h4>-->
<!--                                    </div>-->
<!--                                    <div class="post">-->
<!--                                        <figure class="post-thumb"><a href="blog-details.html"><img src="assets/images/news/post-2.png" alt=""></a></figure>-->
<!--                                        <span class="post-date">April 17, 2020</span>-->
<!--                                        <h4><a href="blog-details.html">Magni dolore qui ratione seque.</a></h4>-->
<!--                                    </div>-->
<!--                                    <div class="post">-->
<!--                                        <figure class="post-thumb"><a href="blog-details.html"><img src="assets/images/news/post-3.png" alt=""></a></figure>-->
<!--                                        <span class="post-date">April 16, 2020</span>-->
<!--                                        <h4><a href="blog-details.html">Ratone magni sed dolore eos.</a></h4>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="advice-widget">
                                <div class="inner-box" style="background-image: url(assets/images/resource/advice-1.jpg);">
                                    <div class="text">
                                        <h2>Get <br />{{ tour_extra.discount }}% Off <br />On {{ tour_extra.discounted_destination_name }} Tours</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- destination-details end -->


{% endblock %}