{% extends 'base.html' %}
{% load static %}
{% block title %} login {% endblock %}
{% block body %}


        <!-- Page Title -->
        <section class="page-title centred" style="background-image: url({{ banner.login_banner.url }});">
            <div class="auto-container">
                <div class="content-box">
                    <h1>Sign In</h1>
                    <p>Discover your next great adventure</p>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- register-section -->
        <section class="register-section sec-pad">
            <div class="anim-icon">
                <div class="icon anim-icon-1" style="background-image: url(assets/images/shape/shape-16.png);"></div>
                <div class="icon anim-icon-2" style="background-image: url(assets/images/shape/shape-17.png);"></div>
            </div>
            <div class="auto-container">
                <div class="inner-box">
                    <div class="sec-title centred">
                        <p>Sign in</p>
                        <h2>Connect with us for Better Tour</h2>
                    </div>
                    <div class="form-inner">
                        <h3>Sign In with</h3>
                        <form action="" method="POST" class="register-form">
                            {% csrf_token %}
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 column">
                                    <div class="form-group">
                                        <label>Your Email Address</label>
                                        <input type="text" name="email" required="">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 column">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" name="password" required="">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 column">
                                    <div class="form-group">
                                        <div class="forgor-password text-right">
                                            <a href="{% url 'forgetpassword' %}">Forget Password?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 column">
                                    <div class="form-group message-btn">
                                        <button type="submit" class="theme-btn">Sign In</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="other-text">Don't have an account? <a href="{% url 'registration' %}">Register Now</a></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- register-section end -->


{% endblock %}