{% extends 'base.html' %}
{% load static %}
{% block title %} Change Password {% endblock %}
{% block body %}

    <!-- Page Title -->
    <section class="page-title centred" style="background-image: url(assets/images/background/page-title-5.jpg);">
        <div class="auto-container">
            <div class="content-box">
                <h1>Change Password</h1>
                <p>Set a new password to continue your journey</p>
            </div>
        </div>
    </section>
    <!-- End Page Title -->


    <!-- change-password-section -->
    <section class="register-section sec-pad">
        <div class="anim-icon">
            <div class="icon anim-icon-1" style="background-image: url(assets/images/shape/shape-16.png);"></div>
            <div class="icon anim-icon-2" style="background-image: url(assets/images/shape/shape-17.png);"></div>
        </div>
        <div class="auto-container">
            <div class="inner-box">
                <div class="sec-title centred">
                    <p>Change Password</p>
                    <h2>Enter a new password to reset your account</h2>
                </div>
                <div class="form-inner">
                    <form action="" method="POST" class="register-form">
                        {% csrf_token %}
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 column">
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" name="new_password" required="">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 column">
                                <div class="form-group">
                                    <label>Confirm New Password</label>
                                    <input type="password" name="confirm_password" required="">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 column">
                                <div class="form-group message-btn">
                                    <button type="submit" class="theme-btn">Change Password</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="other-text">Remembered your password? <a href="{% url 'login' %}">Sign In</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- change-password-section end -->

{% endblock %}
